* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.treeRoot {
  width: 100%;
  height: 100%;
}
.h {
  display: inline-block;
  vertical-align: top;
}
.v {
  display: block;
}
.ng-scope {
  border: 1px solid red;
}
.ng-binding {
  border: 1px solid blue;
}
