div.row-fluid
	ul
		li
			|Quick start
			ul
				li
					|TodoMap is a new and easy way to get things done! TodoMap helps you collect, organize and do all the tasks you are engaged in.
				li
					|Each task is placed inside a box. 
					|The size of a box is proportional to its task's importance.
					|THe bigger the box, the more important is the task.
				li
					|The same way a task can be divided into many sub-tasks, a box can contain several sub-boxes. 
					|A sub-box represent a sub-task of its parent box.
				li
					|Sibling tasks are tasks located inside the same box. They all are sub-tasks of the same parent task.
		li
			|Keyboard commands
			ul
				li
					|Basics commands
					ul
						li
							|To 
							b select 
							|and 
							b edit 
							|a task, click on it.
						li
							|To 
							b create 
							|a new task, select the task where you want to insert the new one then press the Enter key.
							ul
								li
									|Or use the 
						li
							|To 
							b delete 
							|a task, first empty completely its content (use the Delete key) and then press the Delete key one more time.
				li
					|Task importance
					ul
						li
							|To 
							b increase 
							|or 
							b decrease 
							|a task importance, press the Up or the Down key while holding the Alt key down.
				li
					|Selection
					ul
						li
							|To 
							b move 
							|the selection (ie. to select the previous or the following task), use the Up or the Down key.
						li
							|To 
							b unselect 
							|a task, press the Escape key.
				li
					|To 
					b move 
					|a task, hold down the Shift key and use the Arrow keys.
					ul
						li
							|To move a task 
							b up 
							|or 
							b down 
							|its hierarchy, use the Left key or the Right key while holding the Shift key down.
						li
							|To 
							b move 
							|a task among its sibling tasks, use the Up or the Down key while holding the Shift key down. 
				
		li
			|Menu actions
		li
			|Mouse controls
			ul
				li
					|To 
					b move 
					|a task, drag and drop